header {
    text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
    padding: 20px; /* เพิ่มระยะห่าง */
  }
  
  h2 {
    margin: 0; /* ลบระยะห่างด้านบนและล่าง */
  }
  
  p {
    margin: 10px 0; /* ตั้งระยะห่างด้านบนและล่าง */
  }